[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
pip = "*"
torchvision = "*"
detectron2 = {editable = true, git = "https://github.com/facebookresearch/detectron2.git"}

[dev-packages]

[requires]
python_version = "3.9"
